In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\gurpreet\appdata\local\programs\python\python312\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\gurpreet\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(host ="127.0.0.1",user = "root", password = "Gurpreet@11" ,db = "little_lemon_project")

In [4]:
cursor= connection.cursor()

In [5]:
show_tables = """SHOW TABLES"""
cursor.execute(show_tables)

In [6]:
results= cursor.fetchall()
print(results)

[('bookings',), ('customer',), ('deliverystatus',), ('menu',), ('menuitems',), ('orders',), ('orderview',), ('staff',)]

In [7]:
customer ="SELECT * FROM customer"
cursor.execute(customer)
result =cursor.fetchall()
column = cursor.column_names
print(column)
for r in result:
    print(r)

('CustomerID', 'FirstName', 'LastName', 'Address', 'ContactNo.')
(1, 'Rohan', 'Ram', 'Barrie , ON', '4443211234')
(2, 'Raju', 'Ram', 'Streatford , ON', '4213211111')
(3, 'Akash', 'Singh', 'Brampton , ON', '5643213344')
(4, 'Deepu', 'Sekhon', 'London,ON', '5654344422')
(5, 'Garry', 'Guru', 'Windsor,ON', '4235643322')

In [8]:
orders = "SELECT * FROM orders"
cursor.execute(orders)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for r in results:
    print(r)

('OrderID', 'TableNo.', 'MenuID', 'BookingID', 'Quantity', 'Total', 'CustomerID')
(1, '2', 5, 3, 2, '150', 3)
(2, '3', 4, 2, 3, '100', 5)
(3, '5', 5, 4, 1, '40', 2)
(4, '1', 3, 5, 2, '70', 1)

In [20]:
order_greater_60 = """SELECT customer.CustomerID, CONCAT(customer.FirstName ,' ', customer.LastName) AS FullName,customer.ContactNo , orders.Total  
FROM customer INNER JOIN orders ON customer.CustomerID = orders.CustomerID WHERE orders.Total > 60 """
cursor.execute(order_greater_60)
result = cursor.fetchall()
column = cursor.column_names
print(column)
for r in result:
    print(r)

('CustomerID', 'FullName', 'ContactNo', 'Total')
(3, 'Akash Singh', '5643213344', '150')
(5, 'Garry Guru', '4235643322', '100')
(1, 'Rohan Ram', '4443211234', '70')